
chromium/

GitKraken/

\@joplin/

autostart/

cmst/

joplin-desktop/

dconf/

geany/

gtk-2.0/

JetBrains/

VSCodium/

glib-2.0/

gpick/

gtk-3.0/

htop/

kicad/

Kvantum/

neofetch/

nomacs/

pavucontrol-qt/

pulse/

qBittorrent/

qt5ct/

RadareOrg/

screenshots/

Thunar/

Unknown Organization/

vlc/

wireshark/

xarchiver/

xfce4/

zim/

alacritty.yml

app.slack.com.har

kactivitymanagerdrc

kdeglobals

kritadisplayrc

kritarc

mimeapps.list

okularpartrc

okularrc

pavucontrol.ini

QtProject.conf

zoomus.conf

README.md
